---
interface Props {
  items: string[];
}

const { items } = Astro.props;
---

<section class="repo-overview-section">
  <h2>Architectural Boundaries</h2>
  <ul class="repo-overview-list">
    {items.map((item) => <li>{item}</li>)}
  </ul>
</section>
